

.trade-tiles-container{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2%;
  min-width: 400px;
}
.trade-tile{
  text-align: center;
  border: 1px solid green;
  border-radius: 5px;
}
.trade-tile-btn{
  width: 6rem;
}

.trade-btn {
  background-color:red;
  cursor: pointer;
}

.trade-btn.trade-btn-sell {
  background-color:green;
}

.trades-blotter{
  height: 10rem;
  overflow: auto;
  background: #ccc;
}