
.trade-tiles-container{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2%;
  min-width: 400px;
}
.trade-tile{
  text-align: center;
  border: 1px solid green;
  border-radius: 5px;
}